.spacer {
    flex: 1 1 auto;
}
mat-toolbar {
    display: flex;
    justify-content: space-between;
    background: #004f4f;
}
.footer {
    display: flex;
    justify-content: center;
    color: white !important;
}
