<div *ngIf="recomended" class="container">
    <p>sadasds</p>
    <mat-card class="example-card" appearance="outlined" *ngFor="let movie of recomended">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="whiteText">{{movie.naziv}}</mat-card-title>
            <mat-card-subtitle>Godina izlaska filma: {{movie.datumIzlaska}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.photo}} alt={{movie.naziv}} class="filmCover">
        <mat-card-content>
            <p class="whiteText">
                {{movie.opis}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
