.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.whiteText {
    color: white !important;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}