.wrapper {
    width: 80%;
    margin: auto;
    text-align: left;
}

.movieContent {
    display: flex;
    justify-content: flex-start;
}

.movieCard {
    width: 90%;
    min-height: 600px;
    height: auto;
    overflow: hidden;
}

.innerCard {
    display: flex;
    align-items: center;
}

.movieImage {
    width: 400px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.movieDetails {
    flex: 1;
}

.prelomiTekst {
    word-wrap: break-word;
    white-space: normal;
}

mat-card-actions {
    position: absolute;
    bottom: 16px;
    right: 16px;
}