<div class="wrapper" *ngIf="movie">
    <h1>{{movie.naziv}}</h1>
    <div class="movieContent">
        <mat-card class="movieCard" appearance="outlined">
            <div class="innerCard">
                <img mat-card-image src="{{movie.photo}}" alt="{{movie.naziv}}" class="movieImage">
                <mat-card-content class="movieDetails">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Zanr: {{movie.zanr}}</mat-list-item>
                        <mat-list-item role="listitem">Trajanje: {{movie.trajanje}}</mat-list-item>
                        <mat-list-item role="listitem">Datum izdavanja: {{movie.datumIzlaska}}</mat-list-item>
                        <mat-list-item role="listitem">Reziser: {{movie.reziser}}</mat-list-item>
                        <mat-list-item role="listitem">Glumci: {{movie.glumci.join(', ')}}</mat-list-item>
                    </mat-list>
                    <p>Radnja filma:</p>
                    <p>{{movie.opis}}</p>
                </mat-card-content>
            </div>
            <mat-card-actions>
                <a mat-button [routerLink]="['/book/', movie.id]"><i class="fa-solid fa-money-bill-1-wave"></i>
                    Rezervisi kartu</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>